**/build-*
**/.DS_Store
**/*.user
**/*.h5
**/*.npy
**/*.pyc
**/*.swp
**/*.swo
**/*.out
**/*.pkl
**/.nfs*
builds
faster_rcnn_pytorch/FasterRCNN_boat_results
yolo2-pytorch/YOLO_boat_results
yolo2-pytorch/YOLO_V2_results
HydroTestSuite/proposals/*
HydroTestSuite/MST
HydroTestSuite/.DS_Store
HydroTestSuite/*results.txt
**/*.m~
scores/*
scores
